/*SECCION1*/
body {
    margin: 0;
    height: 100%;
    background-color: #4b379a;
    font-family: 'Poppins', sans-serif;
    color: #777777;
    
    justify-content: center;
    align-items: center;
    grid-gap: 10px;

}

header {
background-image: url(img/1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 26em;
width: 100%;
color: #ffffffff;
font-family: sans-serif;

}

.wrapper{
    background-color: #ffffffff;
    margin: 3em auto;
    max-width: 1320px;
    height: 80%;
    width: 80%;
}

.nav {
    display: flex;
    justify-content: space-between;

}


.container{
    position: relative;
    width: 100%;
    height: 100%;     
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
    opacity: 0.8;
 
}

h1 {
    font-size: 6em;
    font-weight: lighter;

}
.nav div img {
    padding-left: 3%;
}

.nav div ul li {
    display: inline;
    font-size: 0.7em;
    text-transform: uppercase;
    padding: 3em;

}


a {
    text-decoration: none;
    color: #ECF0F1;
}


.header-Conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    text-align: left;
}

.header-Conteiner div {
    line-height: 0.25em;
    padding: 0;

}

.boton {
    border-radius: 2em;
    display: block;
    border: solid;
    color: #ffffffff;
    background: #00000000;
    border-width: 1px;
    padding: 0.6em 1.6em;
    text-decoration: none;
    margin: 0 auto;
    color: none;

}

.boton2{
    border-radius: 2em;
    display: block;
    border: solid;
    color: #ffffffff;
    background: #00000000;
    border-width: 1px;
    padding: 0.6em 1.6em;
    text-decoration: none;
    margin: 10px;
    color: none;
    float: right;
}

/* SECCION 2*/

.white-Conteiner h2 span{
    color: #222222;
}

.white-Conteiner div {
    padding: 0 5%;
}
.white-Conteiner {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1em;
    text-align: justify;
   padding: 7%;
}

.whiteImage img
{
    width: 100%;
    padding-top: 10%;

}

/* SECCION 3 */

.parallax {
    background-image: url(img/3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    color: #ffffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;
    align-items: center;
}


/* SECCION 4 */

.contenedorImagenes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    
}

.contenedorImagenes img {
    padding: 5%;
}
.parrafo {
    margin: 5%;

}


/* Haciendo responsive */


@media(max-width: 1475px)
{
    .contenedorImagenes {
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .contenedorImagenes img {
        width: 100% ;
        padding: 2% 0;
    }

}


@media(max-width: 750px)
{

    .wrapper{
        margin: 0;
        width: 100%; 
    }

    h1 {
        font-size: 2em;
    }
    
    .texto{ 
        font-size: 0.7rem; 

    }
     
    .texto1{ 
        font-size: 0.7em; 
        padding: 10PX;
        margin-block-end: 10px;
        margin-left: 10px;
    }

    .whiteImage img
    {
        width: 100%;
        padding-top: 10%;
    }
    .white-Conteiner {
        grid-template-columns: 1fr;
    }
    
    .parrafo {
        padding: 5% 5% 5% 5%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: justify;
        margin-bottom: 10%;
    }

    .parallax {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    h2 {
        padding: 5%;
    }

    .botton {
    margin: 10% 12%;
    }

}

section {
    background-color:#CE93D8;
    color: whitesmoke;
    align-items: center;
    margin-bottom: 6rem;
    padding: 100px 0;
    justify-content: center;
    }

    @media (max-width: 500px) {
        .section {
          margin-bottom: 3rem;
        }
    }



